* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  & button {
    border: 0;
    padding: 5px;
  }
}

main {
  padding: 1rem 20%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;

  & div {
    border: 1px solid black;
  }
  & #info-location {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & #info-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & #info-grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
}
